@import './helpers/variables';
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @font-face {
    font-family: Inter var;
    font-weight: 100 900;
    font-display: block;
    font-style: normal;
    font-named-instance: "Regular";
    src: url('../font/basefont/Inter-roman-latin.woff2') format("woff2")
  }

  @font-face {
    font-family: Inter var;
    font-weight: 100 900;
    font-display: block;
    font-style: italic;
    font-named-instance: "Italic";
    src: url('../font/basefont/Inter-italic-latin.woff2') format("woff2")
  }

  @font-face {
    font-family: Fira Code VF;
    font-weight: 300 700;
    font-style: normal;
    src: url('../font/basefont/FiraCode-VF.woff2') format("woff2-variations"), url('../font/basefont/FiraCode-VF.woff') format("woff-variations")
  }

  @font-face {
    font-family: "santepheap";
    font-weight: normal;
    src: url('../font/basefont/KohSantepheap-Regular.ttf') format('truetype');
  }

  :root {
    --color-primary: 14 133 205;
    --color-secondary: 240 0 185;
    --content-offset: 116px;

    --swiper-navigation-size: 24px;
    --swiper-theme-color: #0E85CD;
    --swiper-pagination-color: #06629a;

  }

  body {
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


  .kim-body {
    @apply bg-slate-50 text-slate-700 dark:text-slate-400 dark:bg-slate-dark;
  }

  .icon-favorite {
    @apply fill-pink-300 text-pink-300;
  }

  /*--- Override Kendo UI ---*/
  .k-rating-item {
    padding-inline: 2px !important;
  }

  /*--- Default Button ---*/
  .btn {
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    letter-spacing: .025em;
    padding: .5rem 1.25rem;
    text-align: center;
    transition-duration: .2s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1)
  }

  .btn, .btn:focus {
    outline: 2px solid transparent;
    outline-offset: 2px
  }

  .btn:disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  .btn-primary {
    @apply transition select-none inline-flex items-center justify-center gap-2 rounded-md border border-transparent bg-primary px-5 py-2 text-sm font-medium text-white shadow-sm
    hover:bg-primary-dark
    focus:outline-none focus:ring-2 focus:ring-primary-300 focus:ring-offset-2 dark:focus:ring-offset-slate-800
    active:bg-primary
    disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none;
  }

  .btn-secondary {
    @apply transition select-none inline-flex items-center justify-center gap-2 rounded-md border border-transparent bg-primary-100 px-5 py-2 text-sm font-medium text-primary dark:text-primary-light dark:bg-slate-700/50
    hover:bg-primary-200 hover:text-primary-dark dark:hover:bg-slate-700/80 dark:hover:text-primary-400
    focus:outline-none focus:ring-2 focus:ring-primary-300 focus:ring-offset-2 dark:focus:ring-offset-slate-950
    active:bg-primary-100 dark:active:bg-slate-700/50
    disabled:pointer-events-none disabled:opacity-50;
  }

  .btn-border {
    @apply transition select-none inline-flex items-center justify-center gap-2 rounded-md border border-gray-300 px-5 py-2 text-sm font-medium shadow-sm dark:text-slate-300 dark:border-slate-500
    hover:bg-gray-50 dark:hover:bg-slate-800/50 dark:hover:text-slate-100
    focus:outline-none focus:ring-2 focus:ring-primary-300 focus:ring-offset-2 dark:focus:ring-offset-slate-800
    active:bg-transparent dark:active:bg-transparent
    disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none;
  }

  .btn-transparent {
    @apply transition select-none inline-flex items-center justify-center gap-2 rounded-md px-5 py-3 text-xs font-bold text-primary dark:text-primary-light
    hover:bg-primary-100 dark:hover:bg-primary-900/30
    active:bg-primary-200 dark:active:bg-primary-900/70
    disabled:pointer-events-none disabled:opacity-50;
  }

  .btn-icon {
    @apply transition select-none inline-flex items-center justify-center gap-2 rounded-full border border-transparent w-7 h-7 text-zinc-500
    hover:bg-slate-300/20 hover:text-zinc-600 dark:hover:bg-slate-800/70 dark:hover:text-slate-400
    focus:outline-none focus:ring-2 focus:ring-primary-300 focus:ring-offset-2 dark:focus:ring-offset-slate-950
    active:bg-transparent dark:active:bg-slate-700/50
    disabled:pointer-events-none disabled:opacity-50;
  }

  .btn-product {
    @apply transition-all hover:scale-105 focus:scale-105 focus:opacity-[0.85] active:scale-100 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none;
  }
  .btn-none {
    @apply hover:scale-100 focus:scale-100 cursor-not-allowed #{!important};
  }

  /*--- Default Badge ---*/
  .badge-primary {
    @apply inline-flex items-center gap-x-1.5 rounded-full bg-primary-100 px-2.5 py-1 text-xs font-medium text-primary-700
    dark:bg-primary-400/20 dark:text-primary-400;
  }
  .badge-secondary {
    @apply inline-flex items-center gap-x-1.5 rounded-full bg-secondary-100 px-2.5 py-1 text-xs font-medium text-secondary-700
    dark:bg-secondary-400/20 dark:text-secondary-400;
  }
  .badge-gray {
    @apply inline-flex items-center gap-x-1.5 rounded-full bg-gray-100 px-2.5 py-1 text-xs font-medium text-gray-600
    dark:bg-gray-400/20 dark:text-gray-400;
  }
  .badge-red {
    @apply inline-flex items-center gap-x-1.5 rounded-full bg-red-100 px-2.5 py-1 text-xs font-medium text-red-700
    dark:bg-red-400/20 dark:text-red-400;
  }
  .badge-yellow {
    @apply inline-flex items-center gap-x-1.5 rounded-full bg-yellow-100 px-2.5 py-1 text-xs font-medium text-yellow-800
    dark:bg-yellow-400/20 dark:text-yellow-500;
  }
  .badge-green {
    @apply inline-flex items-center gap-x-1.5 rounded-full bg-green-100 px-2.5 py-1 text-xs font-medium text-green-700
    dark:bg-green-500/20 dark:text-green-400;
  }
  .badge-blue {
    @apply inline-flex items-center gap-x-1.5 rounded-full bg-blue-100 px-2.5 py-1 text-xs font-medium text-blue-700
    dark:bg-blue-400/20 dark:text-blue-400;
  }
  .badge-purple {
    @apply inline-flex items-center gap-x-1.5 rounded-full bg-purple-100 px-2.5 py-1 text-xs font-medium text-purple-700
    dark:bg-purple-400/20 dark:text-purple-400;
  }

  .badge-primary-border {
    @apply inline-flex items-center gap-x-1.5 rounded-full bg-primary-50 px-2.5 py-1 text-xs font-medium text-primary-700 ring-1 ring-inset ring-primary-700/10
    dark:bg-primary-400/10 dark:text-primary-400 dark:ring-primary-400/20;
  }
  .badge-secondary-border {
    @apply inline-flex items-center gap-x-1.5 rounded-full bg-secondary-50 px-2.5 py-1 text-xs font-medium text-secondary-700 ring-1 ring-inset ring-secondary-700/10
    dark:bg-secondary-400/10 dark:text-secondary-400 dark:ring-secondary-400/20;
  }
  .badge-gray-border {
    @apply inline-flex items-center gap-x-1.5 rounded-full bg-gray-50 px-2.5 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10
    dark:bg-gray-400/10 dark:text-gray-400 dark:ring-gray-400/20;
  }
  .badge-red-border {
    @apply inline-flex items-center gap-x-1.5 rounded-full bg-red-50 px-2.5 py-1 text-xs font-medium text-red-700 ring-1 ring-inset ring-red-600/10
    dark:bg-red-400/10 dark:text-red-400 dark:ring-red-400/20;
  }
  .badge-yellow-border {
    @apply inline-flex items-center gap-x-1.5 rounded-full bg-yellow-50 px-2.5 py-1 text-xs font-medium text-yellow-800 ring-1 ring-inset ring-yellow-600/20
    dark:bg-yellow-400/10 dark:text-yellow-500 dark:ring-yellow-400/20;
  }
  .badge-green-border {
    @apply inline-flex items-center gap-x-1.5 rounded-full bg-green-50 px-2.5 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20
    dark:bg-green-500/10 dark:text-green-400 dark:ring-green-500/20;
  }
  .badge-blue-border {
    @apply inline-flex items-center gap-x-1.5 rounded-full bg-blue-50 px-2.5 py-1 text-xs font-medium text-blue-700 ring-1 ring-inset ring-blue-700/10
    dark:bg-blue-400/10 dark:text-blue-400 dark:ring-blue-400/30;
  }
  .badge-purple-border {
    @apply inline-flex items-center gap-x-1.5 rounded-full bg-purple-50 px-2.5 py-1 text-xs font-medium text-purple-700 ring-1 ring-inset ring-purple-700/10
    dark:bg-purple-400/10 dark:text-purple-400 dark:ring-purple-400/30;
  }

  .badge-border {
    @apply inline-flex items-center gap-x-1.5 rounded-md px-2.5 py-1 text-xs font-medium text-gray-900 ring-1 ring-inset ring-gray-200
    dark:text-gray-300 dark:ring-gray-400/20;
  }
  .badge-default {
    @apply inline-flex items-center gap-x-1.5 rounded-full bg-primary px-2.5 py-1 text-xs font-medium text-white;
  }

  /*--- Default Scrollbar ---*/
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #cfd8dc;
    //border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: #b0bec5;
    //border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #90a4ae;
  }

  .section {
    overflow: auto;
    height: 100vh;
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
  }
  .slides > div {
    scroll-snap-align: center;
  }

  .card-tailwind {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
  }

  .card-css {
    background-color: pink;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  }

  .card {
    --tw-shadow: 0 3px 10px 0 rgb(48 46 56/6%);
    --tw-shadow-colored: 0 3px 10px 0 var(--tw-shadow-color);
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    color: #64748b;
    display: flex;
    flex-direction: column;
    min-width: 1px;
    overflow-wrap: break-word;
    position: relative
  }

  :is(.dark .card) {
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    background-color: #26334d;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    color: #a3adc2
  }

  @media print {
    .card {
      border-width: 1px
    }
  }

  /*--- Default Form ---*/
  .form-input-default {
    @apply block w-full py-2.5 px-4 bg-white border border-slate-300 rounded-md shadow-sm
    placeholder-slate-400/70
    hover:border-slate-400
    focus:outline-none focus:border-primary focus:ring-1 focus:ring-inset focus:ring-primary
    disabled:bg-slate-50 disabled:text-slate-300 disabled:border-slate-200/80 disabled:shadow-none
    invalid:border-red-300 invalid:text-red-600 invalid:hover:border-red-400
    focus:invalid:border-pink-500 focus:invalid:ring-pink-500
    dark:bg-transparent dark:border-slate-700 dark:hover:border-slate-600
    dark:placeholder-slate-400/30
    dark:focus:border-primary
    dark:disabled:bg-slate-800/90 dark:disabled:text-slate-600 dark:disabled:border-slate-700/60
    dark:invalid:focus:border-red-600/40 dark:invalid:border-red-600/40 dark:invalid:hover:border-red-600/60;
  }

  .form-icon-peer {
    @apply pointer-events-none absolute h-full w-11 flex items-center justify-center text-gray-400
    peer-focus:text-primary
    peer-invalid:text-red-300 dark:peer-invalid:text-red-600/40
    dark:text-slate-500 dark:peer-focus:text-primary;
  }

  .form-select-default {
    @apply w-full py-2.5 px-4 bg-white border border-slate-300 rounded-md shadow-sm appearance-none
    hover:border-slate-400
    focus:outline-none focus:border-primary focus:ring-1 focus:ring-inset focus:ring-primary
    dark:bg-transparent dark:border-slate-700 dark:hover:border-slate-600
    dark:focus:border-primary;

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right .5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.3em;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact
  }

  .form-input-invalid {
    @apply text-red-900 border-red-300
    placeholder-red-400/70
    hover:border-red-400
    focus:border-red-300 focus:ring-red-300
    dark:placeholder:text-red-400/30 dark:text-red-600 dark:border-red-600/40 dark:hover:border-red-600/60 dark:focus:border-red-500/60 dark:focus:ring-red-500/60
  }

  .form-btn-default {
    @apply py-3 px-4 rounded-lg border border-transparent font-semibold bg-primary text-white transition-all shadow-sm
    hover:bg-primary-dark
    focus:outline-none focus:ring-1 focus:ring-primary-light focus:ring-offset-2
    dark:focus:ring-offset-gray-800;
  }

  .form-btn-border {
    @apply py-3 px-4 rounded-lg border border-slate-300 font-semibold text-slate-500 transition-all shadow-sm
    hover:border-slate-400 hover:bg-slate-100
    focus:outline-none focus:ring-1 focus:ring-primary-light focus:ring-offset-2
    dark:text-slate-400 dark:border-slate-600 dark:hover:bg-slate-700
    dark:focus:ring-offset-gray-800;
  }

  /*--- End Default Form ---*/



  .is-scrollbar-hidden {
    scrollbar-width: none
  }

  .is-scrollbar-hidden::-webkit-scrollbar {
    display: none
  }

  table.is-hoverable > tbody > tr:hover > td, table.is-zebra > tbody > tr:nth-child(2n) > td {
    background-color: #f1f5f9
  }

  :is(.dark table.is-hoverable>tbody>tr:hover>td), :is(.dark table.is-zebra>tbody>tr:nth-child(2n)>td) {
    background-color: #313e59
  }

  .kim-section-padding {
    @apply px-1 sm:px-8;
  }

  .kim-main {
    @apply max-w-7xl mx-auto lg:px-8;
  }

  .kim-content {
    @apply px-4 py-8 sm:p-8 lg:p-12;
  }

  .kim-content-x {
    @apply px-4 sm:px-8 lg:px-12;
  }

  .kim-max-w {
    @apply max-w-2xl lg:max-w-5xl mx-auto;
  }

}

// NOT WORKING FOR COMPONENTS
@layer components {
  [x-cloak] { display: none !important; } // work
  .kim-components { // not work
    color: $secondColor;
  }
}

// NOT WORKING FOR UTILITIES
@layer utilities {

}

