<div class="grid grid-cols-1 lg:grid-cols-5 gap-y-8 lg:gap-x-8">
    <div class="col-span-2 flex flex-col justify-between">
        <div class="pt-8 lg:pt-0"></div>
        <div class="rounded-lg bg-gray-50 px-6 py-3 dark:bg-slate-925">
            <h2 class="sr-only">Order summary</h2>

            <div class="flow-root">
                <dl class="-my-2 divide-y divide-gray-200 text-sm dark:divide-slate-800">
                    <div class="flex items-center justify-between py-2">
                        <dt class="text-gray-600 dark:text-slate-500">
                            Subtotal
                        </dt>
                        <dd class="font-medium " x-text="'$'+kimFormatNumber($store.itemStore.getTotalPrice())">$99.00</dd>
                    </div>
                    <div class="flex items-center justify-between py-2">
                        <dt class="text-gray-600 dark:text-slate-500">
                            Discount
                        </dt>
                        <dd class="font-medium ">-$5.00</dd>
                    </div>
                    <div class="flex items-center justify-between py-2">
                        <dt class="text-gray-600 dark:text-slate-500">
                            Tax
                        </dt>
                        <dd class="font-medium ">$8.32</dd>
                    </div>
                    <div class="flex items-center justify-between py-2">
                        <dt class="text-gray-600 dark:text-slate-500">
                            Shipping fee
                        </dt>
                        <dd class="font-medium ">$1.50</dd>
                    </div>

                    <div class="flex items-center justify-between py-4">
                        <dd class="font-medium">៛652,500
                        </dd>
                        <dd class="text-base font-medium dark:text-slate-200">
                            $112.32
                        </dd>
                    </div>

                </dl>
            </div>
        </div>
    </div>
    <div class="col-span-3 ">
        <fieldset x-data="kimCash()" class="">
            <legend class="sr-only"> Choose cash</legend>
            <button class="flex gap-1 items-center font-medium underline underline-offset-8 decoration-primary" @click="toggle()">
                <span class="text-2xl dark:text-slate-300">Payment</span>
                <svg xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 31 31"
                     class="fill-slate-400 w-6 h-6 block"
                     :class="{'!hidden':cashKHR}">
                    <path d="M24.26,20.34c0,3.42-2.423,6.342-6.845,7.111v3.92h-3.768v-3.648c-2.578-0.117-5.076-0.811-6.537-1.654l1.154-4.5
		                                                                                            c1.615,0.886,3.883,1.693,6.383,1.693c2.191,0,3.691-0.848,3.691-2.385c0-1.461-1.23-2.389-4.077-3.348
		                                                                                            c-4.112-1.385-6.921-3.306-6.921-7.033c0-3.386,2.385-6.035,6.499-6.845V0h3.767v3.383c2.576,0.115,4.309,0.652,5.576,1.268
		                                                                                            l-1.115,4.348C21.07,8.575,19.3,7.688,16.531,7.688c-2.5,0-3.307,1.076-3.307,2.154c0,1.268,1.346,2.074,4.613,3.307
		                                                                                            C22.416,14.762,24.26,16.877,24.26,20.34z"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 79.52 122.88"
                     class="fill-slate-400 w-6 h-6 hidden"
                     :class="{'!block':cashKHR}">
                    <path d="M79.52,51c-3.38,6.15-7.44,10.66-12.21,13.59A45.46,45.46,0,0,1,51,70.39v44.79a6.91,6.91,0,0,
                                                                                            1-2.59,5.56,8.27,8.27,0,0,1-5.33,2.14H35.85a15,15,0,0,1-8.37-3,32.57,32.57,0,0,1-8.07-8.15,49.07,49.07,
                                                                                            0,0,1-6.12-11.49,36.51,36.51,0,0,1-2.4-13.06c0-4.62,1.09-8.26,3.23-10.85a10.41,10.41,0,0,1,8.33-3.91,12.14,
                                                                                            12.14,0,0,1,2.14.34,6.86,6.86,0,0,1,3,1.65,11.05,11.05,0,0,1,2.62,4.13,20.27,20.27,0,0,1,1.17,7.74A12.76,12.76,0,0,
                                                                                            1,30,92.69a11.13,11.13,0,0,1-2.89,3.23,9.06,9.06,0,0,1-2.85,1.5c-.86.23-1.31.68-1.31,1.24a12.25,12.25,0,0,0,.56,
                                                                                            3.31,16.21,16.21,0,0,0,1.8,4,14.12,14.12,0,0,0,3,3.34,6.36,6.36,0,0,0,4,1.39V71c-3.37-.3-6.6-.64-9.72-1a47.93,
                                                                                            47.93,0,0,1-10.06-2.6c-4,0-7.06-1.16-9.24-3.45a11.7,11.7,0,0,1,0-16.29,11.12,11.12,0,0,1,8.23-3.34,12.33,12.33,
                                                                                            0,0,1,7.54,2.36,9.84,9.84,0,0,1,4,6.23,17.52,17.52,0,0,0,3.75,1.69c1.47.49,3.31,1.17,5.48,2V50.83c0-3.9-.75-6.57-2.29-8a8.87,
                                                                                            8.87,0,0,0-6.38-2.22,22.75,22.75,0,0,0-2.93.19,16.85,16.85,0,0,1-2.25.15c-1.54,0-2.81-1-3.79-3.08s-2.4-4.84-4.24-8.37L38.14,
                                                                                            0h3.12L58.72,11.9a4,4,0,0,0,2.66.64,4.75,4.75,0,0,0,3-1l3.19,4.62L54.66,29.4a4.58,4.58,0,0,1-2.51-1.47c-1.13-.94-2.44-2-4-3.11a31.86,
                                                                                            31.86,0,0,0-5.45-3.2,16.21,16.21,0,0,0-6.87-1.5,6.16,6.16,0,0,0-2.62.64,7.79,7.79,0,0,0-2.48,1.73,22.8,22.8,0,0,0-2.07,2.33,32.54,
                                                                                            32.54,0,0,0-1.95,2.92,30,30,0,0,1,5.48-.56A22,22,0,0,1,40,28.46a19.1,19.1,0,0,1,5.93,3.3,13.89,13.89,0,0,1,3.8,
                                                                                            4.66A12.12,12.12,0,0,1,51,42V58.19a37.83,37.83,0,0,0,11.34-3c3.75-1.62,7.47-4.58,11.22-8.9L79.52,51Z"/>
                </svg>
            </button>
            <hr class="pt-5 border-none">

            <!-- Button Cash in USD -->
            <div class="grid grid-cols-3 gap-3" x-cloak="" x-show="!cashKHR">
                <template x-for="(item, index) in storeUSD" :key="index">
                    <button @click="$store.itemStore.addCashUSD(item)" type="button" class="btn-border text-xl">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 31 31"
                             class="fill-slate-400 w-4 h-4">
                            <path d="M24.26,20.34c0,3.42-2.423,6.342-6.845,7.111v3.92h-3.768v-3.648c-2.578-0.117-5.076-0.811-6.537-1.654l1.154-4.5
		                                                                                            c1.615,0.886,3.883,1.693,6.383,1.693c2.191,0,3.691-0.848,3.691-2.385c0-1.461-1.23-2.389-4.077-3.348
		                                                                                            c-4.112-1.385-6.921-3.306-6.921-7.033c0-3.386,2.385-6.035,6.499-6.845V0h3.767v3.383c2.576,0.115,4.309,0.652,5.576,1.268
		                                                                                            l-1.115,4.348C21.07,8.575,19.3,7.688,16.531,7.688c-2.5,0-3.307,1.076-3.307,2.154c0,1.268,1.346,2.074,4.613,3.307
		                                                                                            C22.416,14.762,24.26,16.877,24.26,20.34z"/>
                        </svg>
                        <span x-text="item.toLocaleString()"></span>
                    </button>
                </template>
            </div>

            <!-- Button Cash in KHR -->
            <div class="grid grid-cols-3 gap-3" x-cloak="" x-show="cashKHR">
                <template x-for="(item, index) in storeKHR" :key="index">
                    <button type="button" class="btn-border text-xl">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 79.52 122.88"
                             class="fill-slate-400 w-4 h-4">
                            <path d="M79.52,51c-3.38,6.15-7.44,10.66-12.21,13.59A45.46,45.46,0,0,1,51,70.39v44.79a6.91,6.91,0,0,
                                                                                            1-2.59,5.56,8.27,8.27,0,0,1-5.33,2.14H35.85a15,15,0,0,1-8.37-3,32.57,32.57,0,0,1-8.07-8.15,49.07,49.07,
                                                                                            0,0,1-6.12-11.49,36.51,36.51,0,0,1-2.4-13.06c0-4.62,1.09-8.26,3.23-10.85a10.41,10.41,0,0,1,8.33-3.91,12.14,
                                                                                            12.14,0,0,1,2.14.34,6.86,6.86,0,0,1,3,1.65,11.05,11.05,0,0,1,2.62,4.13,20.27,20.27,0,0,1,1.17,7.74A12.76,12.76,0,0,
                                                                                            1,30,92.69a11.13,11.13,0,0,1-2.89,3.23,9.06,9.06,0,0,1-2.85,1.5c-.86.23-1.31.68-1.31,1.24a12.25,12.25,0,0,0,.56,
                                                                                            3.31,16.21,16.21,0,0,0,1.8,4,14.12,14.12,0,0,0,3,3.34,6.36,6.36,0,0,0,4,1.39V71c-3.37-.3-6.6-.64-9.72-1a47.93,
                                                                                            47.93,0,0,1-10.06-2.6c-4,0-7.06-1.16-9.24-3.45a11.7,11.7,0,0,1,0-16.29,11.12,11.12,0,0,1,8.23-3.34,12.33,12.33,
                                                                                            0,0,1,7.54,2.36,9.84,9.84,0,0,1,4,6.23,17.52,17.52,0,0,0,3.75,1.69c1.47.49,3.31,1.17,5.48,2V50.83c0-3.9-.75-6.57-2.29-8a8.87,
                                                                                            8.87,0,0,0-6.38-2.22,22.75,22.75,0,0,0-2.93.19,16.85,16.85,0,0,1-2.25.15c-1.54,0-2.81-1-3.79-3.08s-2.4-4.84-4.24-8.37L38.14,
                                                                                            0h3.12L58.72,11.9a4,4,0,0,0,2.66.64,4.75,4.75,0,0,0,3-1l3.19,4.62L54.66,29.4a4.58,4.58,0,0,1-2.51-1.47c-1.13-.94-2.44-2-4-3.11a31.86,
                                                                                            31.86,0,0,0-5.45-3.2,16.21,16.21,0,0,0-6.87-1.5,6.16,6.16,0,0,0-2.62.64,7.79,7.79,0,0,0-2.48,1.73,22.8,22.8,0,0,0-2.07,2.33,32.54,
                                                                                            32.54,0,0,0-1.95,2.92,30,30,0,0,1,5.48-.56A22,22,0,0,1,40,28.46a19.1,19.1,0,0,1,5.93,3.3,13.89,13.89,0,0,1,3.8,
                                                                                            4.66A12.12,12.12,0,0,1,51,42V58.19a37.83,37.83,0,0,0,11.34-3c3.75-1.62,7.47-4.58,11.22-8.9L79.52,51Z"/>
                        </svg>
                        <span x-text="item.toLocaleString()"></span>
                    </button>
                </template>
            </div>

            <hr class="pt-10 border-none">
            <!-- Input cashUSD & cashKHR -->
            <div class="grid grid-cols-3 gap-3 items-center ">
                <div>
                    Cash In
                </div>
                <div class="isolate inline-flex rounded-md shadow-sm">
                    <div @click="$store.itemStore.updateCash('0')" class="btn-border shadow-none rounded-e-none focus:ring-offset-0 px-2 focus:z-10">
                        <span class="sr-only">Cash USD</span>
                        <svg xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 31 31"
                             class="fill-slate-400 w-4 h-4">
                            <path d="M24.26,20.34c0,3.42-2.423,6.342-6.845,7.111v3.92h-3.768v-3.648c-2.578-0.117-5.076-0.811-6.537-1.654l1.154-4.5
		                                                                                            c1.615,0.886,3.883,1.693,6.383,1.693c2.191,0,3.691-0.848,3.691-2.385c0-1.461-1.23-2.389-4.077-3.348
		                                                                                            c-4.112-1.385-6.921-3.306-6.921-7.033c0-3.386,2.385-6.035,6.499-6.845V0h3.767v3.383c2.576,0.115,4.309,0.652,5.576,1.268
		                                                                                            l-1.115,4.348C21.07,8.575,19.3,7.688,16.531,7.688c-2.5,0-3.307,1.076-3.307,2.154c0,1.268,1.346,2.074,4.613,3.307
		                                                                                            C22.416,14.762,24.26,16.877,24.26,20.34z"/>
                        </svg>
                    </div>
                    <input type="text" x-mask:dynamic="$money($input)" name="f_qty"
                           x-bind:value="$store.itemStore.cashInUSD"
                           x-on:keyup="$store.itemStore.updateCash($event.target.value || 0)"
                           onClick="this.select();"
                           class="w-full block text-center bg-transparent font-medium border-y border-r border-gray-300 rounded-r-md focus:z-10 focus:outline-none focus:ring-2 focus:ring-primary-300 dark:focus:ring-offset-slate-800 text-primary dark:border-slate-500">
                </div>
                <div class="isolate inline-flex rounded-md shadow-sm">
                    <div class="btn-border shadow-none rounded-e-none focus:ring-offset-0 px-2 focus:z-10">
                        <span class="sr-only">Cash KHR</span>
                        <svg xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 79.52 122.88"
                             class="fill-slate-400 w-4 h-4">
                            <path d="M79.52,51c-3.38,6.15-7.44,10.66-12.21,13.59A45.46,45.46,0,0,1,51,70.39v44.79a6.91,6.91,0,0,
                                                                                            1-2.59,5.56,8.27,8.27,0,0,1-5.33,2.14H35.85a15,15,0,0,1-8.37-3,32.57,32.57,0,0,1-8.07-8.15,49.07,49.07,
                                                                                            0,0,1-6.12-11.49,36.51,36.51,0,0,1-2.4-13.06c0-4.62,1.09-8.26,3.23-10.85a10.41,10.41,0,0,1,8.33-3.91,12.14,
                                                                                            12.14,0,0,1,2.14.34,6.86,6.86,0,0,1,3,1.65,11.05,11.05,0,0,1,2.62,4.13,20.27,20.27,0,0,1,1.17,7.74A12.76,12.76,0,0,
                                                                                            1,30,92.69a11.13,11.13,0,0,1-2.89,3.23,9.06,9.06,0,0,1-2.85,1.5c-.86.23-1.31.68-1.31,1.24a12.25,12.25,0,0,0,.56,
                                                                                            3.31,16.21,16.21,0,0,0,1.8,4,14.12,14.12,0,0,0,3,3.34,6.36,6.36,0,0,0,4,1.39V71c-3.37-.3-6.6-.64-9.72-1a47.93,
                                                                                            47.93,0,0,1-10.06-2.6c-4,0-7.06-1.16-9.24-3.45a11.7,11.7,0,0,1,0-16.29,11.12,11.12,0,0,1,8.23-3.34,12.33,12.33,
                                                                                            0,0,1,7.54,2.36,9.84,9.84,0,0,1,4,6.23,17.52,17.52,0,0,0,3.75,1.69c1.47.49,3.31,1.17,5.48,2V50.83c0-3.9-.75-6.57-2.29-8a8.87,
                                                                                            8.87,0,0,0-6.38-2.22,22.75,22.75,0,0,0-2.93.19,16.85,16.85,0,0,1-2.25.15c-1.54,0-2.81-1-3.79-3.08s-2.4-4.84-4.24-8.37L38.14,
                                                                                            0h3.12L58.72,11.9a4,4,0,0,0,2.66.64,4.75,4.75,0,0,0,3-1l3.19,4.62L54.66,29.4a4.58,4.58,0,0,1-2.51-1.47c-1.13-.94-2.44-2-4-3.11a31.86,
                                                                                            31.86,0,0,0-5.45-3.2,16.21,16.21,0,0,0-6.87-1.5,6.16,6.16,0,0,0-2.62.64,7.79,7.79,0,0,0-2.48,1.73,22.8,22.8,0,0,0-2.07,2.33,32.54,
                                                                                            32.54,0,0,0-1.95,2.92,30,30,0,0,1,5.48-.56A22,22,0,0,1,40,28.46a19.1,19.1,0,0,1,5.93,3.3,13.89,13.89,0,0,1,3.8,
                                                                                            4.66A12.12,12.12,0,0,1,51,42V58.19a37.83,37.83,0,0,0,11.34-3c3.75-1.62,7.47-4.58,11.22-8.9L79.52,51Z"/>
                        </svg>
                    </div>
                    <input type="text" value="52000" x-mask:dynamic="$money($input)" name="f_qty"
                           class="w-full block text-center bg-transparent font-medium border-y border-r border-gray-300 rounded-r-md focus:z-10 focus:outline-none focus:ring-2 focus:ring-primary-300 dark:focus:ring-offset-slate-800 text-primary dark:border-slate-500">
                </div>
            </div>

            <hr class="pt-3 border-none">
            <!-- Change cashUSD & cashKHR -->
            <div class="grid grid-cols-3 gap-3 items-center ">
                <div>
                    Change
                </div>
                <div class="isolate inline-flex rounded-md shadow-sm">
                    <div class="btn-border shadow-none rounded-e-none px-2 border-transparent dark:border-transparent">
                        <span class="sr-only">Change USD</span>
                        <svg xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 31 31"
                             class="fill-slate-400 w-4 h-4">
                            <path d="M24.26,20.34c0,3.42-2.423,6.342-6.845,7.111v3.92h-3.768v-3.648c-2.578-0.117-5.076-0.811-6.537-1.654l1.154-4.5
		                                                                                            c1.615,0.886,3.883,1.693,6.383,1.693c2.191,0,3.691-0.848,3.691-2.385c0-1.461-1.23-2.389-4.077-3.348
		                                                                                            c-4.112-1.385-6.921-3.306-6.921-7.033c0-3.386,2.385-6.035,6.499-6.845V0h3.767v3.383c2.576,0.115,4.309,0.652,5.576,1.268
		                                                                                            l-1.115,4.348C21.07,8.575,19.3,7.688,16.531,7.688c-2.5,0-3.307,1.076-3.307,2.154c0,1.268,1.346,2.074,4.613,3.307
		                                                                                            C22.416,14.762,24.26,16.877,24.26,20.34z"/>
                        </svg>
                    </div>
                    <div class="w-full flex items-center justify-center font-medium border-y border-r border-transparent rounded-r-md text-orange-500 dark:border-transparent" :class="$store.itemStore.cashOutUSD >= 0 && '!text-green-500'">
                        <span x-text="kimFormatNumber($store.itemStore.cashOutUSD)">23</span>
                    </div>
                </div>
                <div class="isolate inline-flex rounded-md shadow-sm">
                    <div class="btn-border shadow-none rounded-e-none border-transparent dark:border-transparent px-2">
                        <span class="sr-only">Change KHR</span>
                        <svg xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 79.52 122.88"
                             class="fill-slate-400 w-4 h-4">
                            <path d="M79.52,51c-3.38,6.15-7.44,10.66-12.21,13.59A45.46,45.46,0,0,1,51,70.39v44.79a6.91,6.91,0,0,
                                                                                            1-2.59,5.56,8.27,8.27,0,0,1-5.33,2.14H35.85a15,15,0,0,1-8.37-3,32.57,32.57,0,0,1-8.07-8.15,49.07,49.07,
                                                                                            0,0,1-6.12-11.49,36.51,36.51,0,0,1-2.4-13.06c0-4.62,1.09-8.26,3.23-10.85a10.41,10.41,0,0,1,8.33-3.91,12.14,
                                                                                            12.14,0,0,1,2.14.34,6.86,6.86,0,0,1,3,1.65,11.05,11.05,0,0,1,2.62,4.13,20.27,20.27,0,0,1,1.17,7.74A12.76,12.76,0,0,
                                                                                            1,30,92.69a11.13,11.13,0,0,1-2.89,3.23,9.06,9.06,0,0,1-2.85,1.5c-.86.23-1.31.68-1.31,1.24a12.25,12.25,0,0,0,.56,
                                                                                            3.31,16.21,16.21,0,0,0,1.8,4,14.12,14.12,0,0,0,3,3.34,6.36,6.36,0,0,0,4,1.39V71c-3.37-.3-6.6-.64-9.72-1a47.93,
                                                                                            47.93,0,0,1-10.06-2.6c-4,0-7.06-1.16-9.24-3.45a11.7,11.7,0,0,1,0-16.29,11.12,11.12,0,0,1,8.23-3.34,12.33,12.33,
                                                                                            0,0,1,7.54,2.36,9.84,9.84,0,0,1,4,6.23,17.52,17.52,0,0,0,3.75,1.69c1.47.49,3.31,1.17,5.48,2V50.83c0-3.9-.75-6.57-2.29-8a8.87,
                                                                                            8.87,0,0,0-6.38-2.22,22.75,22.75,0,0,0-2.93.19,16.85,16.85,0,0,1-2.25.15c-1.54,0-2.81-1-3.79-3.08s-2.4-4.84-4.24-8.37L38.14,
                                                                                            0h3.12L58.72,11.9a4,4,0,0,0,2.66.64,4.75,4.75,0,0,0,3-1l3.19,4.62L54.66,29.4a4.58,4.58,0,0,1-2.51-1.47c-1.13-.94-2.44-2-4-3.11a31.86,
                                                                                            31.86,0,0,0-5.45-3.2,16.21,16.21,0,0,0-6.87-1.5,6.16,6.16,0,0,0-2.62.64,7.79,7.79,0,0,0-2.48,1.73,22.8,22.8,0,0,0-2.07,2.33,32.54,
                                                                                            32.54,0,0,0-1.95,2.92,30,30,0,0,1,5.48-.56A22,22,0,0,1,40,28.46a19.1,19.1,0,0,1,5.93,3.3,13.89,13.89,0,0,1,3.8,
                                                                                            4.66A12.12,12.12,0,0,1,51,42V58.19a37.83,37.83,0,0,0,11.34-3c3.75-1.62,7.47-4.58,11.22-8.9L79.52,51Z"/>
                        </svg>
                    </div>
                    <div class="w-full flex items-center justify-center font-medium border-y border-r border-transparent rounded-r-md text-orange-500 dark:border-transparent">
                        <span x-text="(2500).toLocaleString()">2500</span>
                    </div>
                </div>
            </div>

            <hr class="pt-5 border-none">
            <button type="submit"
                    class="btn-primary w-full text-base"
                    :disabled="!$store.itemStore.isSubmit"
                    @click="open = false; checkOut = true; $store.itemStore.submit();">
                Pay Now
            </button>

        </fieldset>
    </div>
</div>