<div class="">
  <p class="font-medium text-2xl dark:text-slate-300" >Add Customer</p>
  <p class="text-slate-500" >Add new customer</p>
</div>
<hr class="pt-5 border-none">

<div class="flex flex-col gap-6">
  <div class="flex flex-col lg:flex-row gap-3">
    <label for="f-01" class="basis-0 lg:basis-52">
      <span class="block text-sm font-medium dark:text-slate-300">Name</span>
      <span class="block text-xs text-gray-400 mt-0.5 dark:text-slate-500">Customer Name</span>
    </label>
    <div class="flex-1">
      <div class="relative flex">
        <input type="text" id="f-01" class="form-input-default peer" placeholder="Customer name">
        <div class="absolute -bottom-5 invisible peer-invalid:visible text-xs text-red-600">Not a valid email address.</div>
      </div>
    </div>
  </div>
  <div class="flex flex-col lg:flex-row gap-3">
    <label for="f-02" class="basis-0 lg:basis-52">
      <span class="block text-sm font-medium dark:text-slate-300">Email</span>
      <span class="block text-xs text-gray-400 mt-0.5 dark:text-slate-500">Customer email</span>
    </label>
    <div class="flex-1">
      <div class="relative flex">
        <input type="email" id="f-02" class="form-input-default peer" placeholder="Customer email">
        <div class="absolute -bottom-5 invisible peer-invalid:visible text-xs text-red-600">Not a valid email address.</div>
      </div>
    </div>
  </div>
  <div class="flex flex-col lg:flex-row gap-3">
    <label for="f-03" class="basis-0 lg:basis-52">
      <span class="block text-sm font-medium dark:text-slate-300">Address</span>
      <span class="block text-xs text-gray-400 mt-0.5 dark:text-slate-500">Input full address</span>
    </label>
    <div class="flex-1">
      <div class="relative flex">
        <input type="text" id="f-03" class="form-input-default peer" placeholder="Full address">
        <div class="absolute -bottom-5 invisible peer-invalid:visible text-xs text-red-600">Not a valid email address.</div>
      </div>
    </div>
  </div>
  <div class="flex flex-col lg:flex-row gap-3">
    <label for="f-04" class="basis-0 lg:basis-52">
      <span class="block text-sm font-medium dark:text-slate-300">City</span>
      <span class="block text-xs text-gray-400 mt-0.5 dark:text-slate-500">Select province or city</span>
    </label>
    <div class="flex-1">
      <div class="relative flex">
        <input type="email" id="f-04" class="form-select-default peer" placeholder="Select city">
        <div class="absolute -bottom-5 invisible peer-invalid:visible text-xs text-red-600">Not a valid email address.</div>
      </div>
    </div>
  </div>
  <div class="flex flex-col lg:flex-row gap-3">
    <label for="f-05" class="basis-0 lg:basis-52">
      <span class="block text-sm font-medium dark:text-slate-300">Zone</span>
      <span class="block text-xs text-gray-400 mt-0.5 dark:text-slate-500">Select zone</span>
    </label>
    <div class="flex-1">
      <div class="relative flex">
        <input type="email" id="f-05" class="form-select-default peer" placeholder="Select zone">
        <div class="absolute -bottom-5 invisible peer-invalid:visible text-xs text-red-600">Not a valid email address.</div>
      </div>
    </div>
  </div>
  <div class="flex flex-col lg:flex-row gap-3">
    <label for="f-06" class="basis-0 lg:basis-52">
      <span class="block text-sm font-medium dark:text-slate-300">Phone 1</span>
      <span class="block text-xs text-gray-400 mt-0.5 dark:text-slate-500">Input your phone number</span>
    </label>
    <div class="flex-1">
      <div class="relative flex">
        <input type="email" id="f-06" class="form-input-default peer" placeholder="Phone number">
        <div class="absolute -bottom-5 invisible peer-invalid:visible text-xs text-red-600">Not a valid email address.</div>
      </div>
    </div>
  </div>
  <div class="flex flex-col lg:flex-row gap-3">
    <label for="f-07" class="basis-0 lg:basis-52">
      <span class="block text-sm font-medium dark:text-slate-300">Phone 2</span>
      <span class="block text-xs text-gray-400 mt-0.5 dark:text-slate-500">Input your phone number</span>
    </label>
    <div class="flex-1">
      <div class="relative flex">
        <input type="email" id="f-07" class="form-input-default peer" placeholder="Phone number">
        <div class="absolute -bottom-5 invisible peer-invalid:visible text-xs text-red-600">Not a valid email address.</div>
      </div>
    </div>
  </div>
</div>

<hr class="pt-10 border-none">
<div class="flex flex-col lg:flex-row gap-3">
  <label class="basis-0 lg:basis-52">
    <button type="button" class="btn-secondary w-full text-base" @click="optionMenu = false;  setTimeout(() => (optionMenu = true, currentOption = 'customer_shipping'),200)">Back</button>
  </label>
  <div class="flex-1">
    <button type="submit" class="btn-primary w-full text-base" @click="">Confirm</button>
  </div>
</div>