<template x-if="$store.itemStore.carts.length === 0">
    <div class="text-center">NO ITEM IN CART YET</div>
</template>

<template x-if="$store.itemStore.carts.length > 0">
    <div class="grid grid-cols-1 lg:grid-cols-5 gap-y-8 lg:gap-x-8">
        <div class="col-span-2 flex flex-col justify-between">
            <div class="pt-8 lg:pt-0"></div>
            <div class="rounded-lg bg-gray-50 px-6 py-3 dark:bg-slate-925">
                <h2 class="sr-only">Item summary</h2>

                <div class="flow-root">
                    <dl class="-my-2 divide-y divide-gray-200 text-sm dark:divide-slate-800">
                        <div class="flex items-center justify-between py-2">
                            <dt class="text-gray-600 dark:text-slate-500">
                                Subtotal
                            </dt>
                            <dd class="font-medium " x-text="'$'+kimFormatNumber($store.itemStore.getTotalPrice())">$99.00</dd>
                        </div>
                        <div class="flex items-center justify-between py-2">
                            <dt class="text-gray-600 dark:text-slate-500">
                                Discount
                            </dt>
                            <dd class="font-medium ">-$5.00</dd>
                        </div>
                        <div class="flex items-center justify-between py-2">
                            <dt class="text-gray-600 dark:text-slate-500">
                                Tax
                            </dt>
                            <dd class="font-medium ">$8.32</dd>
                        </div>
                        <div class="flex items-center justify-between py-2">
                            <dt class="text-gray-600 dark:text-slate-500">
                                Shipping fee
                            </dt>
                            <dd class="font-medium ">$1.50</dd>
                        </div>

                        <div class="flex items-center justify-between py-4">
                            <dd class="font-medium">៛652,500
                            </dd>
                            <dd class="text-base font-medium dark:text-slate-200">
                                $112.32
                            </dd>
                        </div>

                    </dl>
                </div>
            </div>
        </div>
        <div class="col-span-3 ">
            <fieldset class="">
                <legend class="sr-only">Invoice Discount</legend>
                <div class="">
                    <p class="font-medium text-2xl dark:text-slate-300" >Invoice Discount</p>
                    <p class="text-slate-500" >Only currency $</p>
                </div>

                <hr class="pt-5 border-none">
                <!-- Input edit -->
                <div class="space-y-3">
                    <div class="grid grid-cols-3 gap-3 items-center ">
                        <div>Discount %</div>
                        <div class="col-span-2 isolate inline-flex rounded-md shadow-sm">
                            <div @click="" class="btn-border shadow-none rounded-e-none focus:ring-offset-0 px-2 focus:z-10">
                                <span class="sr-only">Discount %</span>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="fill-slate-400  w-4 h-4">
                                    <path d="M374.6 73.39c-12.5-12.5-32.75-12.5-45.25 0l-320 320c-12.5 12.5-12.5 32.75 0 45.25C15.63 444.9 23.81 448 32 448s16.38-3.125 22.62-9.375l320-320C387.1 106.1 387.1 85.89 374.6 73.39zM64 192c35.3 0 64-28.72 64-64S99.3 64.01 64 64.01S0 92.73 0 128S28.7 192 64 192zM320 320c-35.3 0-64 28.72-64 64s28.7 64 64 64s64-28.72 64-64S355.3 320 320 320z"/>
                                </svg>
                            </div>
                            <input type="text" name="f_discount_percent"

                                   class="w-full block text-center bg-transparent font-medium border-y border-r border-gray-300 rounded-r-md focus:z-10 focus:outline-none focus:ring-2 focus:ring-primary-300 dark:focus:ring-offset-slate-800 text-primary dark:border-slate-500">
                        </div>
                    </div>
                    <div class="grid grid-cols-3 gap-3 items-center ">
                        <div>Discount $</div>
                        <div class="col-span-2 isolate inline-flex rounded-md shadow-sm">
                            <div @click="" class="btn-border shadow-none rounded-e-none focus:ring-offset-0 px-2 focus:z-10">
                                <span class="sr-only">Discount $</span>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="fill-slate-400  w-4 h-4">
                                    <path d="M302.1 358.1C293.2 407.8 251.4 439.4 192 446.4V480c0 17.67-14.28 32-31.96 32S128 497.7 128 480v-34.96c-.4434-.0645-.8359-.0313-1.281-.0977c-26.19-3.766-53.69-13.2-77.94-21.53l-11.03-3.766C21.03 414 12.03 395.8 17.69 379.1s23.88-25.73 40.56-20.08l11.31 3.859c21.59 7.406 46.03 15.81 66.41 18.73c47.09 6.953 97.06-.8438 103.1-34.09c5.188-28.55-11.16-39.89-87.53-60.7L136.5 282.7C92.59 270.4 1.25 244.9 17.97 153C26.82 104.1 68.44 72.48 128 65.51V32c0-17.67 14.33-32 32.02-32S192 14.33 192 32v34.95c.4414 .0625 .8398 .0449 1.281 .1113c16.91 2.531 36.22 7.469 60.72 15.55c16.81 5.531 25.94 23.61 20.41 40.41c-5.531 16.77-23.69 25.86-40.41 20.38c-20.72-6.812-37.12-11.08-50.16-13.02C137 123.4 86.97 131.2 80.91 164.5C76.5 188.8 85.66 202 153.8 221l14.59 4.016C228.3 241.4 318.9 266.1 302.1 358.1z"/>
                                </svg>
                            </div>
                            <input type="text" name="f_discount_amount"

                                   onClick="this.select();"
                                   class="w-full block text-center bg-transparent font-medium border-y border-r border-gray-300 rounded-r-md focus:z-10 focus:outline-none focus:ring-2 focus:ring-primary-300 dark:focus:ring-offset-slate-800 text-primary dark:border-slate-500">
                        </div>
                    </div>
                </div>

                <hr class="pt-10 border-none">
                <button type="submit"
                        class="btn-primary w-full text-base"

                        @click="optionMenu = false">
                    Close
                </button>

            </fieldset>
        </div>
    </div>
</template>