<div class="hidden w-28 overflow-y-auto bg-primary-dark md:block dark:bg-primary-925">
    <div class="flex w-full flex-col items-center py-6">
        <div class="flex flex-shrink-0 items-center">
            <a href="/index.html"><img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=white" alt="Your Company"></a>
        </div>
        <div class="mt-6 w-full flex-1 space-y-1 px-2">

            <a href="/pages/pos/index.html"
               :class="{ 'bg-primary text-white' : currentPage === 'page_dashboard' , 'text-sky-100' : currentPage !== 'page_dashboard'}"
               class="text-sky-100 hover:bg-primary hover:text-white group w-full p-3 rounded-md flex flex-col items-center text-xs font-medium"
               aria-current="page">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     :class="{ 'text-white' : currentPage === 'page_dashboard' , 'text-primary-300' : currentPage !== 'page_dashboard'}"
                     stroke="currentColor" class="text-primary-300 group-hover:text-white w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M6.429 9.75L2.25 12l4.179 2.25m0-4.5l5.571 3 5.571-3m-11.142 0L2.25 7.5 12 2.25l9.75 5.25-4.179 2.25m0 0L21.75 12l-4.179 2.25m0 0l4.179 2.25L12 21.75 2.25 16.5l4.179-2.25m11.142 0l-5.571 3-5.571-3"/>
                </svg>
                <span class="mt-2">Dashboard</span>
            </a>

            <a href="/pages/pos/sales.html"
               :class="{ 'bg-primary text-white' : currentPage === 'page_sales' , 'text-sky-100' : currentPage !== 'page_sales'}"
               class="text-sky-100 hover:bg-primary hover:text-white group w-full p-3 rounded-md flex flex-col items-center text-xs font-medium">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     :class="{ 'text-white' : currentPage === 'page_sales' , 'text-primary-300' : currentPage !== 'page_sales'}"
                     stroke="currentColor" class="text-primary-300 group-hover:text-white w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"/>
                </svg>
                <span class="mt-2">Sales</span>
            </a>

            <a href="#"
               class="text-sky-100 hover:bg-primary hover:text-white group w-full p-3 rounded-md flex flex-col items-center text-xs font-medium">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="text-primary-300 group-hover:text-white w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z"/>
                </svg>
                <span class="mt-2">Customers</span>
            </a>

            <a href="#"
               class="text-sky-100  hover:bg-primary hover:text-white group w-full p-3 rounded-md flex flex-col items-center text-xs font-medium">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="text-primary-300 group-hover:text-white w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M10.5 19.5h3m-6.75 2.25h10.5a2.25 2.25 0 002.25-2.25v-15a2.25 2.25 0 00-2.25-2.25H6.75A2.25 2.25 0 004.5 4.5v15a2.25 2.25 0 002.25 2.25z"/>
                </svg>
                <span class="mt-2">Products</span>
            </a>

            <a href="#"
               class="text-sky-100 hover:bg-primary hover:text-white group w-full p-3 rounded-md flex flex-col items-center text-xs font-medium">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="text-primary-300 group-hover:text-white w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M16.5 6v.75m0 3v.75m0 3v.75m0 3V18m-9-5.25h5.25M7.5 15h3M3.375 5.25c-.621 0-1.125.504-1.125 1.125v3.026a2.999 2.999 0 010 5.198v3.026c0 .621.504 1.125 1.125 1.125h17.25c.621 0 1.125-.504 1.125-1.125v-3.026a2.999 2.999 0 010-5.198V6.375c0-.621-.504-1.125-1.125-1.125H3.375z"/>
                </svg>
                <span class="mt-2">Coupons</span>
            </a>

            <a href="#"
               class="text-sky-100 hover:bg-primary hover:text-white group w-full p-3 rounded-md flex flex-col items-center text-xs font-medium">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="text-primary-300 group-hover:text-white w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M12 6v12m-3-2.818l.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                </svg>
                <span class="mt-2">Money</span>
            </a>

            <a href="#"
               class="text-sky-100 hover:bg-primary hover:text-white group w-full p-3 rounded-md flex flex-col items-center text-xs font-medium">
                <svg class="text-primary-300 group-hover:text-white h-6 w-6" fill="none" viewBox="0 0 24 24"
                     stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M4.5 12a7.5 7.5 0 0015 0m-15 0a7.5 7.5 0 1115 0m-15 0H3m16.5 0H21m-1.5 0H12m-8.457 3.077l1.41-.513m14.095-5.13l1.41-.513M5.106 17.785l1.15-.964m11.49-9.642l1.149-.964M7.501 19.795l.75-1.3m7.5-12.99l.75-1.3m-6.063 16.658l.26-1.477m2.605-14.772l.26-1.477m0 17.726l-.26-1.477M10.698 4.614l-.26-1.477M16.5 19.794l-.75-1.299M7.5 4.205L12 12m6.894 5.785l-1.149-.964M6.256 7.178l-1.15-.964m15.352 8.864l-1.41-.513M4.954 9.435l-1.41-.514M12.002 12l-3.75 6.495"></path>
                </svg>
                <span class="mt-2">Settings</span>
            </a>

        </div>
    </div>
</div>