<!-- Option & List -->
<div class="flex-1 overflow-y-auto">
  <div class="p-3">
    <!-- Option menu -->
    <div class="flex items-center justify-between">
      <!-- Save in draft items -->
      <div class="flex items-center space-x-1">
        <p>
          <span class="text-base font-medium text-slate-700 dark:text-navy-100">Draft</span>
          <span class="text-slate-500">#001</span>
        </p>

        <div x-data="Components.menu({ open: false })"
             x-init="init()"
             @keydown.escape.stop="open = false; focusButton()"
             @click.away="onClickAway($event)"
             class="relative inline-block">
          <button class="btn-icon"
                  x-ref="button"
                  x-bind:aria-expanded="open.toString()"
                  aria-expanded="false"
                  @click="onButtonClick()"
                  @keydown.enter.prevent="onButtonEnter()"
                  @keyup.space.prevent="onButtonEnter()"
                  @keydown.arrow-up.prevent="onArrowUp()"
                  @keydown.arrow-down.prevent="onArrowDown()">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none"
                 viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
              <path stroke-linecap="round" stroke-linejoin="round"
                    d="M19 9l-7 7-7-7"></path>
            </svg>
          </button>

          <div x-cloak="" x-show="open"
               x-transition:enter="transition ease-out duration-100"
               x-transition:enter-start="transform opacity-0 scale-95"
               x-transition:enter-end="transform opacity-100 scale-100"
               x-transition:leave="transition ease-in duration-75"
               x-transition:leave-start="transform opacity-100 scale-100"
               x-transition:leave-end="transform opacity-0 scale-95"
               class="absolute overflow-hidden -left-12 z-10 mt-2 w-44 origin-top-right divide-y divide-gray-100 dark:divide-slate-800 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none dark:bg-slate-900"
               x-ref="menu-items"
               x-bind:aria-activedescendant="activeDescendant"
               role="menu" aria-orientation="vertical" aria-labelledby="menu-button"
               tabindex="-1"
               @keydown.enter.prevent="open = false; focusButton()"
               @keyup.space.prevent="open = false; focusButton()"
               @keydown.arrow-up.prevent="onArrowUp()"
               @keydown.arrow-down.prevent="onArrowDown()"
               @keydown.tab="open = false">
            <div class="py-1" role="none">
              <a href="#" class=" block px-4 py-2 group"
                 @click="open = false; focusButton()">
                <div class="relative overflow-hidden rounded-md border-2 border-dashed border-gray-400/50 group-hover:border-gray-400/90 dark:border-gray-400/40">
                  <svg class="absolute inset-0 h-full w-full stroke-gray-900/5 dark:stroke-gray-400/10" fill="none">
                    <defs>
                      <pattern id="pattern-a2" x="0" y="0" width="10" height="10" patternUnits="userSpaceOnUse">
                        <path d="M-3 13 15-5M-5 5l18-18M-1 21 17 3"></path>
                      </pattern>
                    </defs>
                    <rect stroke="none" fill="url(#pattern-a2)" width="100%" height="100%"></rect>
                  </svg>
                  <div class="flex justify-center items-center py-1 space-x-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-400 group-hover:text-gray-500 dark:text-slate-500 dark:group-hover:text-slate-400">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>
                    <p class="font-medium dark:text-slate-300">
                      NEW
                    </p>
                  </div>
                </div>
              </a>

              <a href="#" class=" block px-4 py-2 text-sm"
                 :class="{ 'bg-gray-100 dark:bg-slate-800': activeIndex === 0 }"
                 role="menuitem" tabindex="-1" id="menu_item_0"
                 @mouseenter="activeIndex = 0" @mouseleave="activeIndex = -1"
                 @click="open = false; focusButton()">Draft #001</a>
              <a href="#" class=" block px-4 py-2 text-sm"
                 :class="{ 'bg-gray-100 dark:bg-slate-800': activeIndex === 1 }"
                 role="menuitem" tabindex="-1" id="menu_item_1"
                 @mouseenter="activeIndex = 1" @mouseleave="activeIndex = -1"
                 @click="open = false; focusButton()">Draft #002</a>
              <a href="#" class=" block px-4 py-2 text-sm"
                 :class="{ 'bg-gray-100 dark:bg-slate-800': activeIndex === 2 }"
                 role="menuitem" tabindex="-1" id="menu_item_2"
                 @mouseenter="activeIndex = 2" @mouseleave="activeIndex = -1"
                 @click="open = false; focusButton()">Draft #003</a>
              <a href="#" class=" block px-4 py-2 text-sm"
                 :class="{ 'bg-gray-100 dark:bg-slate-800': activeIndex === 3 }"
                 role="menuitem" tabindex="-1" id="menu_item_3"
                 @mouseenter="activeIndex = 3" @mouseleave="activeIndex = -1"
                 @click="open = false; focusButton()">Draft #004</a>
            </div>
            <div class="py-1 bg-gray-50 dark:bg-slate-925" role="none">
              <a href="#" class=" block px-4 py-2 text-sm text-red-400 dark:text-red-400/70"
                 :class="{ 'bg-gray-100 dark:bg-slate-800': activeIndex === 4 }"
                 role="menuitem" tabindex="-1" id="menu_item_4"
                 @mouseenter="activeIndex = 4" @mouseleave="activeIndex = -1"
                 @click="open = false; focusButton()">Delete All</a>
            </div>
          </div>

        </div>
      </div>

      <!-- Option -->
      <div class="flex space-x-1">
        <button @click="optionMenu = true; currentOption = 'customer_shipping'" class="btn-icon" aria-label="Customer and shipping address">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5 text-zinc-500">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
          </svg>
        </button>
        <button @click="$store.itemStore.clear()" class="btn-icon relative" aria-label="Clear cart">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-zinc-500"
               fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
          </svg>
          <span x-cloak="" x-show="$store.itemStore.getItemsCount() > 0" class="text-center absolute bg-orange-500 text-white w-5 h-5 text-xs p-0 leading-5 rounded-full -right-2 -top-2" x-text="$store.itemStore.getItemsCount()"></span>
        </button>
        <div x-data="Components.menu({ open: false })"
             x-init="init()"
             @keydown.escape.stop="open = false; focusButton()"
             @click.away="onClickAway($event)"
             class="relative inline-block">
          <button class="btn-icon" aria-label="More option menu"
                  x-ref="button"
                  x-bind:aria-expanded="open.toString()"
                  aria-expanded="false"
                  @click="onButtonClick()"
                  @keydown.enter.prevent="onButtonEnter()"
                  @keyup.space.prevent="onButtonEnter()"
                  @keydown.arrow-up.prevent="onArrowUp()"
                  @keydown.arrow-down.prevent="onArrowDown()">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-zinc-500"
                 fill="none" viewBox="0 0 24 24" stroke="currentColor"
                 stroke-width="1.5">
              <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"></path>
            </svg>
          </button>

          <div x-cloak="" x-show="open"
               x-transition:enter="transition ease-out duration-100"
               x-transition:enter-start="transform opacity-0 scale-95"
               x-transition:enter-end="transform opacity-100 scale-100"
               x-transition:leave="transition ease-in duration-75"
               x-transition:leave-start="transform opacity-100 scale-100"
               x-transition:leave-end="transform opacity-0 scale-95"
               class="absolute overflow-hidden right-0 z-10 mt-2 w-44 origin-top-right divide-y divide-gray-100 dark:divide-slate-800 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none dark:bg-slate-900"
               x-ref="menu-items"
               tabindex="-1"
               @keydown.enter.prevent="open = false; focusButton()"
               @keyup.space.prevent="open = false; focusButton()"
               @keydown.arrow-up.prevent="onArrowUp()"
               @keydown.arrow-down.prevent="onArrowDown()"
               @keydown.tab="open = false">
            <div class="py-1" role="none">
              <a href="#" class=" block px-4 py-2 text-sm"
                 :class="{ 'bg-gray-100 dark:bg-slate-800': activeIndex === 0 }"
                 role="menuitem" tabindex="-1" id="menu-item-0"
                 @mouseenter="activeIndex = 0" @mouseleave="activeIndex = -1"
                 @click="open = false; optionMenu = true; currentOption = 'invoice_discount'">Invoice Discount</a>
              <a href="#" class=" block px-4 py-2 text-sm"
                 :class="{ 'bg-gray-100 dark:bg-slate-800': activeIndex === 1 }"
                 role="menuitem" tabindex="-1" id="menu-item-2"
                 @mouseenter="activeIndex = 1" @mouseleave="activeIndex = -1"
                 @click="open = false; optionMenu = true; currentOption = 'invoice_shipping'">Shipping Fee</a>
              <a href="#" class=" block px-4 py-2 text-sm"
                 :class="{ 'bg-gray-100 dark:bg-slate-800': activeIndex === 2 }"
                 role="menuitem" tabindex="-1" id="menu-item-1"
                 @mouseenter="activeIndex = 2" @mouseleave="activeIndex = -1"
                 @click="open = false; optionMenu = true; currentOption = 'coupon_discount'">Coupon Code</a>
              <a href="#" class=" block px-4 py-2 text-sm"
                 :class="{ 'bg-gray-100 dark:bg-slate-800': activeIndex === 3 }"
                 role="menuitem" tabindex="-1" id="menu-item-3"
                 @mouseenter="activeIndex = 3" @mouseleave="activeIndex = -1"
                 @click="open = false; focusButton()">Something else</a>
            </div>
            <div class="py-1 bg-gray-50 dark:bg-slate-925" role="none">
              <a href="#" class=" block px-4 py-2 text-sm"
                 :class="{ 'bg-gray-100 dark:bg-slate-800': activeIndex === 4 }"
                 role="menuitem" tabindex="-1" id="menu-item-4"
                 @mouseenter="activeIndex = 4" @mouseleave="activeIndex = -1"
                 @click="open = false; focusButton()">Other Option</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Option Menu popup -->
      <div x-cloak="" x-show="optionMenu" class="absolute z-10" x-ref="dialog" aria-modal="true">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 " x-show="optionMenu" x-transition.opacity.duration.300ms></div>
        <div class="fixed inset-0 overflow-y-auto">
          <div class="flex min-h-full justify-center items-center">
            <div class="kim-section-padding flex-1">
              <div class="kim-main">
                <div class="kim-content">

                  <div class="relative max-w-3xl mx-auto bg-white p-8 lg:p-12 dark:bg-slate-900 shadow-2xl"
                       @click.outside="optionMenu=false" x-show="optionMenu"
                       x-transition.duration.300ms
                       x-transition.origin.top.duration.300ms>
                    <div class="absolute inset-0 bg-no-repeat bg-[length:250px_auto] bg-[left_-3rem_top_-6rem] dark:opacity-5" style="background-image: url('/assets/img/dollar-circle-1.svg')"></div>
                    <button type="button"
                            class="absolute top-4 right-4 text-gray-400 hover:text-gray-500 sm:top-8 sm:right-4 md:top-6 md:right-4 lg:top-8 lg:right-8"
                            @click="optionMenu = false">
                      <span class="sr-only">Close</span>
                      <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg"
                           fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                           stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M6 18L18 6M6 6l12 12"></path>
                      </svg>
                    </button>

                    <div class="relative">
                      <div x-cloak="" x-show="currentOption === 'invoice_discount'">
                        @@include('_invoice_discount_slice.html')
                      </div>
                      <div x-cloak="" x-show="currentOption === 'invoice_shipping'">
                        @@include('_invoice_shipping_slice.html')
                      </div>
                      <div x-cloak="" x-show="currentOption === 'coupon_discount'">
                        @@include('_coupon_discount_slice.html')
                      </div>
                      <div x-cloak="" x-show="currentOption === 'customer_shipping'">
                        @@include('_customer_shipping_slice.html')
                      </div>
                      <div x-cloak="" x-show="currentOption === 'shipping_modify'">
                        @@include('_shipping_modify_slice.html')
                      </div>
                      <div x-cloak="" x-show="currentOption === 'customer_modify'">
                        @@include('_customer_modify_slice.html')
                      </div>

                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Order List -->
    <div class="mt-3">
      <h2 class="sr-only">Items in your shopping cart</h2>
      <!-- empty cart -->
      <div x-show="$store.itemStore.carts.length === 0" class="select-none">
        <div class="relative overflow-hidden rounded-lg border border-dashed border-gray-400/30 dark:border-gray-400/20">
          <svg class="absolute inset-0 h-full w-full stroke-gray-900/5 dark:stroke-gray-400/10" fill="none">
            <defs>
              <pattern id="pattern-d09edaee-fc6a-4f25-aca5-bf9f5f77e14a" x="0" y="0" width="10" height="10" patternUnits="userSpaceOnUse">
                <path d="M-3 13 15-5M-5 5l18-18M-1 21 17 3"></path>
              </pattern>
            </defs>
            <rect stroke="none" fill="url(#pattern-d09edaee-fc6a-4f25-aca5-bf9f5f77e14a)" width="100%" height="100%"></rect>
          </svg>
          <div class="text-center py-2 opacity-20">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 inline-block">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
            </svg>
            <p class="mt-1">
              CART EMPTY
            </p>
          </div>
        </div>
      </div>

      <ul role="list" class="block">
        <template x-for="item in $store.itemStore.carts" :key="item.id" >
          <li class="flex py-2 group relative">
            <div class="flex-shrink-0">
              <img src="https://demo.angkorsite.com/demo/default/assets/img/elements/no-image.jpg"
                   :src="item.image || 'https://demo.angkorsite.com/demo/default/assets/img/elements/no-image.jpg'"
                   alt="Image in your cart now"
                   class="h-16 w-16 rounded-lg object-cover object-center">
            </div>

            <!-- Option item edit -->
            <div class="absolute z-10 transition opacity-0 group-hover:opacity-100 -translate-x-1/3 group-hover:translate-x-0">
              <button class="btn-secondary p-2 opacity-75 " aria-label="option add discount or change price" @click="itemEdit = true; $store.itemStore.editActiveCart(item)">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4 w-4 text-zinc-500 dark:text-slate-300">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                </svg>
              </button>
            </div>

            <div class="relative ml-3 flex-1 flex justify-between gap-3">
              <div class="">
                <h3 class="line-clamp-2 text-[0.8rem] font-medium dark:text-slate-300" x-text="item.name">Name</h3>
                <p class="mt-1 truncate text-xs text-gray-400 dark:text-slate-500" x-text="kimFormatNumber(item.price)">Price</p>
              </div>
              <div class="flex flex-col justify-between items-center">
                                                    <span class="isolate inline-flex rounded-md shadow-sm">
                                                        <button x-on:click="$store.itemStore.addQty(item, -1)" type="button" class="btn-border shadow-none rounded-e-none focus:ring-offset-0 px-2 focus:z-10">
                                                            <span class="sr-only">Minus</span>
                                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                 viewBox="0 0 24 24" stroke-width="1.5"
                                                                 stroke="currentColor" class="w-4 h-4">
                                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                                      d="M19.5 12h-15"/>
                                                            </svg>
                                                        </button>
                                                        <input type="text" name="f_qty" class="block w-8 text-center bg-transparent font-medium border-y border-gray-300 focus:z-10 focus:outline-none focus:ring-2 focus:ring-primary-300 dark:focus:ring-offset-slate-800 text-primary dark:border-slate-500"
                                                               x-model.number="item.qty"
                                                               onClick="this.select();"
                                                               x-init="$watch('item.qty', value => { if(value == null || value <= 0) {item.qty = 1;} });">
                                                        <button x-on:click="$store.itemStore.addQty(item, 1)"  type="button" class="btn-border shadow-none rounded-s-none focus:ring-offset-0 px-2 focus:z-10">
                                                            <span class="sr-only">Add</span>
                                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                 viewBox="0 0 24 24" stroke-width="1.5"
                                                                 stroke="currentColor" class="w-4 h-4">
                                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                                      d="M12 4.5v15m7.5-7.5h-15"/>
                                                            </svg>
                                                        </button>
                                                    </span>
                <div class="sr-only inline-block rounded-full w-fit bg-slate-50 px-2 py-0.5 text-xs text-slate-300 dark:bg-slate-900 dark:text-slate-600" x-text="item.code">Code</div>
              </div>
            </div>
          </li>
        </template>
      </ul>

      <!-- Item edit popup -->
      <div x-cloak="" x-show="itemEdit" class="relative z-10" x-ref="dialog" aria-modal="true">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 " x-show="itemEdit" x-transition.opacity.duration.300ms></div>
        <div class="fixed inset-0 overflow-y-auto">
          <div class="flex min-h-full justify-center items-center">
            <div class="kim-section-padding flex-1">
              <div class="kim-main">
                <div class="kim-content">

                  <div class="relative max-w-3xl mx-auto bg-white p-8 lg:p-12 dark:bg-slate-900 shadow-2xl bg-no-repeat bg-[length:250px_auto] bg-[left_-3rem_top_-6rem]"
                       style="background-image: url('/assets/img/dollar-circle-1.svg')"
                       @click.outside="itemEdit=false" x-show="itemEdit"
                       x-transition.duration.300ms
                       x-transition.origin.top.duration.300ms>
                    <button type="button"
                            class="absolute top-4 right-4 text-gray-400 hover:text-gray-500 sm:top-8 sm:right-6 md:top-6 md:right-6 lg:top-8 lg:right-8"
                            @click="itemEdit = false">
                      <span class="sr-only">Close</span>
                      <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg"
                           fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                           stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M6 18L18 6M6 6l12 12"></path>
                      </svg>
                    </button>

                    @@include('_item_edit_slice.html')

                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

<!-- Order summary -->
<div class="px-3 pb-3 pt-1 relative">
  <div class="absolute inset-x-0 -top-10 bg-gradient-to-t from-white pt-10 pointer-events-none dark:from-slate-950 "></div>
  <div class="rounded-lg bg-gray-50 px-6 py-3 dark:bg-slate-900">
    <h2 class="sr-only">Order summary</h2>

    <!-- Calculate price -->
    <div class="flow-root">
      <dl class="-my-2 divide-y divide-gray-200 text-sm dark:divide-slate-800">
        <div class="flex items-center justify-between py-2">
          <dt class="text-gray-600 dark:text-slate-500">Subtotal</dt>
          <dd class="font-medium " x-text="'$'+kimFormatNumber($store.itemStore.getTotalPrice())">Price Subtotal</dd>
        </div>
        <div class="flex items-center justify-between py-2">
          <dt class="text-gray-600 dark:text-slate-500">Discount</dt>
          <dd class="font-medium ">-$5.00</dd>
        </div>
        <div class="flex items-center justify-between py-2">
          <dt class="text-gray-600 dark:text-slate-500">Tax</dt>
          <dd class="font-medium ">$8.32</dd>
        </div>
        <div class="flex items-center justify-between py-2">
          <dt class="text-base font-medium text-gray-900 dark:text-slate-400">Order
            total
          </dt>
          <dd class="text-base font-medium dark:text-slate-200">$112.32</dd>
        </div>
      </dl>
    </div>
  </div>

  <!-- Cash Options -->
  <div class="mt-3 grid grid-cols-3 gap-3">
    <!-- By Cash -->
    <div x-data="{ open: false }" @keydown.window.escape="open = false">
      <button class="w-full btn-border px-0 gap-1" @click="open = true">
        <svg xmlns="http://www.w3.org/2000/svg"
             class="h-7 w-7 text-gray-500 dark:text-slate-400" fill="none"
             viewBox="0 0 24 24" stroke="currentColor" stroke-width="1">
          <path stroke-linecap="round" stroke-linejoin="round"
                d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z"></path>
        </svg>
        <span class="text-primary text-xs">Cash</span>
      </button>

      <div x-cloak="" x-show="open" class="relative z-10" x-ref="dialog" aria-modal="true">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 " x-show="open" x-transition.opacity.duration.300ms></div>
        <div class="fixed inset-0 overflow-y-auto">
          <div class="flex min-h-full justify-center items-center">
            <div class="kim-section-padding flex-1">
              <div class="kim-main">
                <div class="kim-content">

                  <div class="relative max-w-3xl mx-auto bg-white p-8 lg:p-12 dark:bg-slate-900 shadow-2xl bg-no-repeat bg-[length:250px_auto] bg-[left_-3rem_top_-6rem]"
                       style="background-image: url('/assets/img/dollar-circle-1.svg')"
                       @click.outside="open=false" x-show="open"
                       x-transition.duration.300ms
                       x-transition.origin.top.duration.300ms>
                    <button type="button"
                            class="absolute top-4 right-4 text-gray-400 hover:text-gray-500 sm:top-8 sm:right-6 md:top-6 md:right-6 lg:top-8 lg:right-8"
                            @click="open = false">
                      <span class="sr-only">Close</span>
                      <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg"
                           fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                           stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M6 18L18 6M6 6l12 12"></path>
                      </svg>
                    </button>

                    @@include('_by_cash8_slice.html')
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- By Visa -->
    <div x-data="{ open: false}" @keydown.window.escape="open = false">
      <button class="w-full btn-border px-0 gap-1" @click="open = true">
        <svg xmlns="http://www.w3.org/2000/svg"
             class="inline h-7 w-7 text-gray-500 dark:text-slate-400" fill="none"
             viewBox="0 0 24 24" stroke-width="1" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round"
                d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z"></path>
        </svg>
        <span class="text-primary text-xs">Debit</span>
      </button>

      <div x-cloak="" x-show="open" class="relative z-10" x-ref="dialog" aria-modal="true">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 " x-show="open"
             x-transition.opacity.duration.300ms></div>
        <div class="fixed inset-0 overflow-y-auto">
          <div class="flex min-h-full justify-center items-center">
            <div class="kim-section-padding flex-1">
              <div class="kim-main">
                <div class="kim-content">

                  <div class="relative max-w-3xl mx-auto bg-white p-8 lg:p-12 dark:bg-slate-900 shadow-2xl bg-no-repeat bg-[length:250px_auto] bg-[left_-3rem_top_-6rem]"
                       style="background-image: url('/assets/img/dollar-circle-1.svg')"
                       @click.outside="open=false" x-show="open"
                       x-transition.duration.300ms
                       x-transition.origin.top.duration.300ms
                  >
                    <button type="button"
                            class="absolute top-4 right-4 text-gray-400 hover:text-gray-500 sm:top-8 sm:right-6 md:top-6 md:right-6 lg:top-8 lg:right-8"
                            @click="open = false">
                      <span class="sr-only">Close</span>
                      <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg"
                           fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                           stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M6 18L18 6M6 6l12 12"></path>
                      </svg>
                    </button>

                    <div class="text-center">Visa under construction</div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- By Scan -->
    <div x-data="{ open: false}" @keydown.window.escape="open = false">
      <button class="w-full btn-border px-0 gap-1" @click="open = true">
        <svg xmlns="http://www.w3.org/2000/svg"
             class="inline h-7 w-7 text-gray-500 dark:text-slate-400" fill="none"
             viewBox="0 0 24 24" stroke-width="1" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round"
                d="M12 4v1m6 11h2m-6 0h-2v4m0-11v3m0 0h.01M12 12h4.01M16 20h4M4 12h4m12 0h.01M5 8h2a1 1 0 001-1V5a1 1 0 00-1-1H5a1 1 0 00-1 1v2a1 1 0 001 1zm12 0h2a1 1 0 001-1V5a1 1 0 00-1-1h-2a1 1 0 00-1 1v2a1 1 0 001 1zM5 20h2a1 1 0 001-1v-2a1 1 0 00-1-1H5a1 1 0 00-1 1v2a1 1 0 001 1z"></path>
        </svg>
        <span class="text-primary text-xs">Scan</span>
      </button>

      <div x-cloak="" x-show="open" class="relative z-10" x-ref="dialog" aria-modal="true">
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 " x-show="open"
             x-transition.opacity.duration.300ms></div>
        <div class="fixed inset-0 overflow-y-auto">
          <div class="flex min-h-full justify-center items-center">
            <div class="kim-section-padding flex-1">
              <div class="kim-main">
                <div class="kim-content">

                  <div class="relative max-w-3xl mx-auto bg-white p-8 lg:p-12 dark:bg-slate-900 shadow-2xl bg-no-repeat bg-[length:250px_auto] bg-[left_-3rem_top_-6rem]"
                       style="background-image: url('/assets/img/dollar-circle-1.svg')"
                       @click.outside="open=false" x-show="open"
                       x-transition.duration.300ms
                       x-transition.origin.top.duration.300ms
                  >
                    <button type="button"
                            class="absolute top-4 right-4 text-gray-400 hover:text-gray-500 sm:top-8 sm:right-6 md:top-6 md:right-6 lg:top-8 lg:right-8"
                            @click="open = false">
                      <span class="sr-only">Close</span>
                      <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg"
                           fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                           stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M6 18L18 6M6 6l12 12"></path>
                      </svg>
                    </button>

                    <div class="text-center">Scan under construction</div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Save or Checkout -->
  <div class="mt-3 grid grid-cols-3 gap-3">
    <div>
      <button type="submit" class="btn-secondary w-full text-base py-3">Save</button>
    </div>
    <div class="col-span-2">
      <button @click="checkOut = true; $store.itemStore.submit();"
              :disabled="!$store.itemStore.isSubmit"
              type="submit" class="btn-primary w-full text-base py-3">Checkout</button>
    </div>
  </div>

  <!-- Confirm receipt layout when checkout -->
  <div x-cloak="" x-show="checkOut" class="relative z-10" x-ref="dialog" aria-modal="true">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 " x-show="checkOut" x-transition.opacity.duration.300ms></div>
    <div class="fixed inset-0 overflow-y-auto">
      <div class="flex min-h-full justify-center items-center">
        <div class="kim-section-padding flex-1">
          <div class="kim-main">
            <div class="kim-content lg:p-8">

              <div class="relative max-w-md mx-auto bg-white p-8 lg:p-12 dark:bg-slate-900 shadow-2xl"
                   @click.outside="checkOut=false" x-show="checkOut"
                   x-transition.duration.300ms
                   x-transition.origin.top.duration.300ms
              >
                <button type="button"
                        class="absolute top-4 right-4 text-gray-400 hover:text-gray-500 sm:top-8 sm:right-6 md:top-6 md:right-6 lg:top-8 lg:right-8"
                        @click="checkOut = false">
                  <span class="sr-only">Close</span>
                  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg"
                       fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                       stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M6 18L18 6M6 6l12 12"></path>
                  </svg>
                </button>
                <button type="button"
                        class="absolute px-20 py-3 text-white bg-no-repeat bg-cover top-0 left-1/2 -translate-x-1/2 hover:tracking-wide active:tracking-normal"
                        style="background-image: url('/assets/img/button-top.svg')"
                        @click="checkOut = false; $store.itemStore.clear(); myPrint();">Confirm
                </button>

                <div id="content"></div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>