@import '../helpers/variables';
.navbar-sample {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        width: 100px;
        height: 60px;
    }
    .navbar-items {
        display: flex;
        justify-content: space-between;
        width: 70%;
        margin-left: auto;
        li {
            list-style: none;
            a {
                color: $textColor;
                text-decoration: none;
            }
        }
    }
}