<footer class="mt-32">
    <section class="kim-section-footer kim-section-padding">
        <div class="kim-main">
            <div class="kim-content border-t border-zinc-100 pb-16 pt-10 dark:border-slate-800">
                <div class="kim-max-w">
                    <div class="flex flex-col items-center justify-between gap-6 sm:flex-row">
                        <div class="flex flex-wrap justify-center gap-x-6 gap-y-1 text-sm font-medium text-zinc-800 dark:text-zinc-200">
                            <a class="transition hover:text-teal-500 dark:hover:text-teal-400" href="/pages/company/about.html">About</a>
                            <a class="transition hover:text-teal-500 dark:hover:text-teal-400" href="/pages/company/content.html">Content</a>
                            <a class="transition hover:text-teal-500 dark:hover:text-teal-400" href="/pages/company/typography.html">Typography</a>
                            <a class="transition hover:text-teal-500 dark:hover:text-teal-400" href="/pages/sample/sample01.html">Sample01</a>
                            <a class="transition hover:text-teal-500 dark:hover:text-teal-400" href="/pages/sample/sample06.html">Sample06</a>

                        </div>
                        <p class="text-xs text-slate-400 dark:text-slate-600">© <!-- -->2023<!-- --> Kimlay Demo. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>