<!--    <div class="fixed flex inset-0 justify-center px-8">-->
<!--        <div class="flex w-full max-w-7xl lg:px-8">-->
<!--            <div class="w-full bg-white ring-1 ring-zinc-100">-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<div class="fixed w-full kim-section-padding">
    <div class="kim-main">
        <div class="h-screen bg-white dark:bg-slate ring-1 ring-zinc-100 dark:ring-slate-800 ">

        </div>
    </div>
</div>