<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/svg+xml" href="/assets/img/vue.svg" />
<!--<link href="/assets/font/fontawesome/all.css?ver=1" rel="stylesheet">-->
<link href="/assets/font/fontawesome/v6.4.0_min_all.css?ver=1" rel="stylesheet">
<link href="/assets/css/dist.main.css" rel="stylesheet">

<script src="/assets/js/components.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
<script src="/assets/js/dist.main.js"></script>